body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.hero {
    font-family: 'a_CityNovaTitulStars', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-family: 'a_CityNovaTitulStars', sans-serif;
    font-size: 4em;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a; /* Темно-черный цвет */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #fff;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1em;
    background-color: #222;
    color: #fff;
}

.family-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.family-options input[type="radio"] {
    display: none;
}

.family-options label {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1em;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}

.family-options label:hover {
    background-color: #333;
}

.family-options input[type="radio"]:checked + label {
    background-color: #555;
}

.family-options input[type="radio"]:not(:checked) + label {
    opacity: 0.5;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #555;
}
